.orders {
        text-align: center;
        margin-left: 150px;
        margin-right: 150px;
}

.title {
        font-size: 24px;
}

.nao-atendido{
        color: red;
        font-size: 20px;
}

button {
        outline: none;
}

.atendido {
        color: green;
        font-size: 20px;
}

.div-title {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
}
