.main {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);

    border-radius: 5px;
    box-shadow: 1px 2px 1px 1px #C4C4C4;
}

.box-contrato {
    height: auto;
}

.title-box {
    text-align: center;
    padding-bottom: 2%;
}

.button-box {
    text-align: center;
    padding-top: 2%;
}

.cpf_cnpj {
    padding-left: 1%;
}

.field-endereco {
    width: 129%;
}

.field-phone {
    padding-left: 30%;
}

.field-dataInicio {
    padding-right: 0.5%;
}
.field-dataFim {
    padding-left: 0.5%;
}