.systems {
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 35px;
}

.box-contrato {
  padding: 5%;
}

.naoAtendido {
  text-align: center;
}

.Atendido {
  text-align: center;
}
