.column-name {
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.column-atrib {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.nao-atendido {
  color: red;
  font-size: 20px;
}

button {
  outline: none;
}

.atendido {
  color: green;
  font-size: 20px;
}
