/* .grid-header {
    padding: 5%;
} */

.button-newContract {
  /* margin-top: 5%; */
  /*  margin-left: 10%; */
}

.input-newContract {
  /* margin-top: 5%; */
  /* margin-right: 10%;*/
  left: 34%;
}

.box-contrato {
  padding: 5%;
}

.column-name {
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.column-atrib {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}
