.input-newContract {
  left: 34%;
}

.column-name {
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.column-atrib {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}
